html {
  font-size: 14px;
  font-family: Courier New, Courier, monospace;
}

body {
    font-family: "Courier New", Courier, monospace;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.user-form {
    background-color: #fdf0d5;
    color: black;
    padding: 20px;
    border-radius: 10px;
}

.header_footer_color {
    background-color: #023047;
    color:white;
}

